#APP
PORT=3000
NODE_ENV=development

#MONGODB
MONGO_URL=

#JWT
JWT_ACCESS_TOKEN_SECRET=
JWT_ACCESS_TOKEN_EXPIRE=
JWT_REFRESH_TOKEN_SECRET=
JWT_REFRESH_TOKEN_EXPIRE=

#Seeding_Data
SEEDING_DATA=true

# STORAGE CONFIG
IMAGE_STORAGE=CLOUDINARY
FILE_STORAGE=SUPABASE

# CLOUDINARY
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# SUPABASE
SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_BUCKET=

#AI GEMINI
GEMINI_API_KEY=